.btn:hover {
    background-color: #FFC107;  
    transform: scale(1.1);  
    transition: all 0.3s ease;  
}

.btn-sm:hover {
    background-color: #FFC107;  
    transform: scale(1.1);  
    transition: all 0.3s ease; 
}

.hover-zoom:hover {
    background-color: yellow; 
    transform: scale(1.1);  
    transition: all 0.3s ease;  
}