
.btn-hover, .hover-text {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-hover:hover, .hover-text:hover {
    background-color: #abdf1c;  
    color: white;  
}

.hover-text {
    cursor: pointer;
    text-decoration: underline;
}

