
.images-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.imagen-tarjeta-regalo {
    width: 400px; 
    height: 400px;
    object-fit: cover; 
    border-radius: 15px;  
    transition: transform 0.3s ease; 
}


.imagen-tarjeta-regalo:hover {
    transform: scale(1.1);  
}
